@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/PTMono-Regular.woff);
  font-family: 'PTMono';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/Lora-Regular.woff);
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/PlayfairDisplay-Bold.woff);
  font-family: 'Playfair Display';
  font-style: bold;
  font-weight: 700;
}

.link {
  color: #2f80ed;
}

/* Контейнер всей страницы */
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Логотип */
.logo{
  width: 228px;
  height: 32px;
}

/* Заголовок сайта */
.header {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__logo{
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  width: 730px;
  z-index: 3;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle{
  position: absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* Контейнер основного содержимого страницы */
.content{
  margin: 0;
  padding: 0;
}

/* Блок описания */
.description{
  display: flex;
  margin-top: 100px;
  padding: 0;
}
.description__two-columns{
  display: flex;
  margin: auto;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
}
.two-columns__brief{
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 80%;
}
.two-columns__paragraph{
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* Блок digits */
.digits{
  margin-top: 100px;
}

/* Блок feynman */
.feynman{
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Блок kaufman */
.kaufman{
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

/* Подвал сайта */
.footer{
  margin: 0;
  padding: 0;
}
